.App {
  text-align: center;
  background: #141E30;
  background-color: #00acfc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2b4d73, #141E30);
  background: rgb(18,18,18,0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: url('../src/images/textures/grungeblue.jpg'); */
  background-size: 100% 100%;
  /* background-image: linear-gradient(
  0deg,
  hsl(227deg 28% 51%) 0%,
  hsl(214deg 38% 51%) 19%,
  hsl(205deg 45% 50%) 32%,
  hsl(198deg 51% 49%) 43%,
  hsl(193deg 52% 49%) 54%,
  hsl(188deg 49% 51%) 63%,
  hsl(182deg 44% 54%) 72%,
  hsl(174deg 43% 59%) 81%,
  hsl(162deg 44% 65%) 90%,
  hsl(147deg 43% 72%) 100%
); */
  min-height: 100vh;
  margin: 0;
  position: relative;
  border-radius: 0;

  /* font-family: 'Flamenco', cursive; */
  font-family: 'Josefin Sans', sans-serif;
  color: azure;
}

.App::after {
  content: '';
  display: block;
  height: 163px;
}

.background {
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 100%;
  background: rgb(18,18,18);
  right: 0;
  top: 0;
  /* position: relative; */
  background-size: 100% 100%;
  border-radius: 0;
}

.ball1{
  position: fixed;
  height: 30rem;
  width: 30rem;
  border-radius: 100%;
  background-color: orange;
  top: 10rem;
  left: 10rem;
  box-shadow: 0px 0px 200px 50px orange;
}

.ball2{
  position: fixed;
  height: 25rem;
  width: 25rem;
  border-radius: 100%;
  background-color: red;
  top: 50%;
  right: 10%;
  box-shadow: 0px 0px 200px 50px red;
}
.gloss{
  position: sticky;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgb(18,18,18,0.95);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  /* background-size: 100% 100%; */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 163px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: #bfb8b8a0;
  background-color: rgb(18,18,18);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  background-color: rgb(37,37,39);
}
