h6 {
    color: rgb(255, 253, 239);
    text-decoration: none;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    -webkit-text-stroke: 0.02px rgb(0, 0, 0);
}

.card {
    color: rgb(255, 253, 239);
    cursor: pointer;
    border: 2px;
    height: 100%;
    margin-bottom: 5%;

}
.button{
    background-color: rgb(206, 5, 5);
    color: blue
}
.card-body {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    color: rgb(255, 253, 239);
    padding: 0.9rem;
    /* background-color: rgb(34,34,34); */
    background-color: rgb(37,37,39,0.3);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12),
        .3s box-shadow,
        .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    height: 100%;
}



.link {
    text-decoration: none;
}

.card-title {
    flex-direction: end;
    color: #FAB700;
    text-shadow: 0px 1px 10px rgba(74, 73, 73, 0.911);
    /* border-radius: 50%; */
    width: fit-content;
    position: inherit;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.508);


}


.titleBg {
    font-size: 1.2rem;
    font-size-adjust: 3;
    font-weight: 600;
    color: white;
    /* max-width: 100px; */
    /* background-color: rgba(217, 232, 241, 0); */
    /* color: rgb(238, 248, 147); */
    /* text-shadow: 0px 4px 10px rgba(15, 168, 143, 0.911); */
    /* display: flex; */
    /* flex-direction: row-reverse; */

}

.card-body:hover {
    /* box-shadow: 0 6px 10px rgba(3, 43, 44, 0.7), */
        /* 0 0 6px rgb(0, 255, 128); */
    transform: scale(0.99);
    transition: 0.6s;
}

.buttonCart {
    height: 2.5rem;
    width: 75%;
    border-radius: 2rem;
    /* background-color: rgb(0,120,242); */
    background-color: rgb(229,141,39);
    border: none;
    color: black;
    padding: 0.6rem;
    font-weight: bold;
    /* border: 1px rgb(18, 49, 58) solid; */
}

.buttonCart:hover {
    transform: scale(1.05);
    /* box-shadow: 0 6px 10px rgba(3, 43, 44, 0.7), */
        /* 0 0 6px rgb(255, 251, 5); */
    /* border: 1.5px rgb(0, 200, 255) solid; */
    transition: 0.7s;
}

.text1 {
    font-size: x-small;
    color: rgb(255, 230, 0);
    text-shadow: 0px 4px 10px rgba(9, 4, 59, 0.39);
    border: none;
    border-radius: 4px;
}

.border {
    border-radius: none;
}

.decoration {
    text-decoration: none;

}

.headerMatrics {
    /* background-color: rgb(0, 200, 255); */
    width: 88%;
    margin-left: 10%;
}

/* .cardBigContainer { */
    /* display: flex; */
    /* flex-direction: column; */
/* } */

@media screen and (max-width:375px) {
  /*   .cardBigContainer {
        flex-direction: column;
        max-height: 370px;
        align-items: center;
        justify-content: center;
    }
 */
}


.conteinerimg{
 background-size: 23rem auto;
 background-repeat:cover;
 background-position: center;
 height: 13.5rem;
 width: 13.5rem;
 text-decoration: none;
 padding-left: 0.7rem;
 /* color: #ffbb007a */
}

.starshadow{
    filter: drop-shadow(0 2px 5px rgb(0, 0, 0));
}

.marginTitle {
    margin-bottom: 7rem;
}

.price{
  color: rgb(229,141,39);
  font-size: 1.7rem;
  font-weight: 600;
}
